// Place all the styles related to the troastee controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$font-color:green;
$background-color:black;
$div_margin:5px;

body {
  background-color:$background-color;
  margin:0 auto;
  font-family:'Century Gothic';
  color:green;
}


div {
  &.field, &.actions {
    margin-bottom: 10px; } 
  margin-top:$div_margin;
  margin-bottom:$div_margin;
}

//for the user selection page
$content_width:600px;
$user_div_width:150px;

div#all_content {
  width:$content_width;
  position:absolute;
  left:50%;
  margin-left: -1*($content_width/2);
  margin-top:50px;
}

.user_div {
  width:$user_div_width;
  text-align:center;
  position:block;
  float:left;
  padding:5px 5px 5px 5px;
}

.user_select_form {
  width:$user_div_width;
}

.heading {
  height:50px;
  margin-bottom:20px;
}

.user_name {
  text-align:center;
}

div#logo {
  float:left;
  font-size:40px;
  position:relative;
  top:0px;
  width:0.5*$content_width;
  font-weight:bold;
}

div#logged_info {
  float:right;
  text-align:right;
  font-size:10px;
  font-style:italic;
  position:relative;
  top:0px;
  width:0.4*$content_width;
}

.prompt {
  font-style:italic;
  margin:0 10px;
}
