<p class="troastworthy_title">Troastworthy</h1>
<div id="search_div">
  <%= form_tag('/public/search', {:id => 'search_form'}) do %>
    <%= text_field_tag :search, params[:search], :id => 'search_field', :placeholder => 'Enter Access Code',  :autocomplete => false  %>
  <% end %> 


  <% if flash[:notice] %>
    <div id="flash-error">
      <%= flash[:notice] %>
    </div>
  <% end %>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    if ($("#search_field").attr("value").length > 0) {
      $("#search_field").css('font-family','Wingdings');
    }
  });

  $("#search_field").focus(function() {
    $(this).css('font-family','Wingdings');
  });

  $("#search_field").focusout(function() {
    if ($(this).attr("value").length == 0) {
      $(this).css('font-family','Century Gothic');
    }
  });

  $("#flash-error").delay(1000).fadeOut();
</script>
